/* 태그 디자인 */
/* 부드러운 스크롤 */
html {scroll-behavior: smooth;}
a { color: black; text-decoration: none;}
h1 { font-size: 3rem; margin: 20px 0; font-weight: bold;}

/* 헤더와 네비게이션바 */
.header {
    position: fixed;
    width: 100vw;
    z-index: 10;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid black;
    transition: all 1s;
}
.nav-menu {
    display: flex;
}
.nav-menu li {
    margin: 35px 20px;
    /*li 태그안에 있는 모든 텍스트가 영향*/
    font-size: 1.2rem;
    transition: all 1s;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* 스크롤이벤트가 발생했을때 바뀌는 네비게이션 디자인 */
.nav.scrollon {
    color: white;
    background-color: black;
    transition: all 1s;
}
.nav.nav.scrollon li>a {
    color: white;
    transition: all 1s;
}



/* 메인의 섹션*/
section {
    height: 400px;
    border: 1px solid black;
}
/* 섹션1 배너*/
.banner {
    height: 100vh;
}
.banner .scroll-icon {
    position: absolute;
    bottom: 50px; left: 50%;
    font-size: 2rem;
    animation-name: movingIcon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* 아이콘이 위아래로 움직이는 애니메이션 작성 */
@keyframes movingIcon {
    0% {transform: translate(0, 0)}
    70% {transform: translate(0, 20px)}
    100% {transform: translate(0, 0)}
}

/* 섹션2 소개 */
.intro-scroll {
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)),
    url(/그린회사홈페이지/img/2.jpg);
    padding: 0 20px;
    opacity: 0;
}
/* 이벤트로 클래스가 붙었을 때 디자인*/
.intro-scroll.scrollon {
    opacity: 1;
    transition: all 2s;
}


.intro-scroll .green-intro {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    transform: translateX(-400px);
}
/* 이벤트 발생시 추가되는 클래스*/
.intro-scroll.scrollon .green-intro{
    transform: translateX(0);
    transition: all 2.5s;
}


.intro-scroll .green-intro-image {
    width: 100vw;
    /*inherit : 부모의 높이를 가져옴*/
    height: inherit;
}

/* 섹션3 슬라이더버튼 */
.pictures {
    display: grid;
    grid-template-columns: 2fr 3fr;
}



/* 푸터 */
.footer {
    height: 200px;
    background-color: black;
}